# code owners are automatically assigned to review PRs

# Devops
.buildkite @input-output-hk/devops
.github    @input-output-hk/devops
nix        @input-output-hk/devops
*.nix      @input-output-hk/devops
bors.toml  @input-output-hk/devops
