name: Ledger Benchmarks
on:
  push:
    branches:
      - master
      - lehins/bench
  workflow_dispatch:

permissions:
  contents: write

jobs:
  benchmark:
    name: cardano-ledger benchmarks

    runs-on: ubuntu-latest

    env:
      GH_PAGES_BRANCH: benchmark-pages

    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://cache.iog.io https://cache.nixos.org/

      - name: Build benchmarks
        run: nix build .#cardano-ledger-test:bench:bench

      - name: Run benchmarks
        run: |
          cd libs/cardano-ledger-test
          ../../result/bin/bench "applyTxBenchmarks" --json bench.json

      - name: Transform results
        run: |
          nix-env -i jq -f '<nixpkgs>'
          jq -f .github/tools/extract_criterion.jq < libs/cardano-ledger-test/bench.json > output.json

      - name: Store benchmark results
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Haskell Benchmark
          tool: 'customSmallerIsBetter'
          output-file-path: output.json
          gh-pages-branch: ${{ env.GH_PAGES_BRANCH }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@lehins'

      - name: Abbreviate git history
        run: |
          git branch -D $GH_PAGES_BRANCH || true
          git fetch origin refs/heads/$GH_PAGES_BRANCH*:refs/remotes/origin/$GH_PAGES_BRANCH*
          git checkout -t origin/$GH_PAGES_BRANCH
          git config user.name "$(git log -1 --format=%cn)"
          git config user.email "$(git log -1 --format=%ce)"
          git reset --keep origin/$GH_PAGES_BRANCH-base
          git checkout @{u} .
          git commit -C @{u}
          git push -f
